@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: rgb(11, 100, 119);
  background: linear-gradient(169deg, rgba(11, 100, 119, 1) 0%, rgba(150, 172, 180, 1) 35%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.container {
  display: flex;
  margin: 10% 30% 0 30%;
  flex-direction: column;
  background-color: rgb(187, 179, 179);
  border-radius: 5px;
}

.container h2 {
  text-align: center;
  padding-left: 12px;
  margin-bottom: 10px;
}

.container h2::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(252, 252, 252, 0.6);
  margin-top: 0.5rem;
  margin-left: -10px;
}

.add-input {
  border: none;
  margin: 0;
  height: 2rem;
  padding: 2%;
}

.fa-plus {
  color: gray;
  position: absolute;
  margin-top: 97.5px;
  right: 32%;
  cursor: pointer;
}

.fa-plus:hover {
  color: #7bc24c;
}

ul {
  padding: 0;
  margin: 0 0 0 2%;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(180, 0, 0, 0.6);
}

li .list-Container {
  display: flex;
}

.list input {
  cursor: pointer;
}

.trash {
  margin-right: 2%;
  margin-top: 3%;
  align-content: center;
  cursor: pointer;
}

.trash .fa-pen {
  margin-left: 10px;
}

.clearBtn {
  border: none;
  height: 4rem;
  font-size: 1rem;
  color: black;
  transition: 0.2s;
  background-color: rgb(213, 218, 208);
  cursor: pointer;
}

.clearBtn:hover {
  background-color: cadetblue;
}

.fa-pen:hover {
  color: rgb(4, 255, 4);
}

.editInput {
  border: none;
  height: 3rem;
  margin-top: 3px;
  margin-bottom: 3px;
  background: rgb(247, 251, 255);
  border-radius: 5%;
  margin-left: 3%;
}

.checkEdit {
  background-color: rgb(187, 179, 179);
  border: none;
  color: black;
}

.Complete,
.tickedItem {
  color: rgb(68, 94, 240);
}
